/* TOTAL LEVEL */
.resultControls{
    grid-area: rc;
    width: 100%;
    height: 100%;
    
}

#controlsRoot{
    display: grid;
    place-items: center;

}
#controlsWrapper{
    display: grid;
    grid-template-rows: 5fr 1fr;
    place-items: center;
    width: 80%;
    height: 80%;
    
}
.crButton{
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid black;
}

#controlsRootNoResult{
    
    display: grid;
    justify-items: center;

}

#controlsContainer{
    width: 90%;
    height: 200px;
    border-radius: 7px;
    display: grid;
    place-items: center;
    
}


/* PC LEVEL */


/* MOBILE LEVEL */

@media (max-aspect-ratio: 1/1){
    .resultControls{
        grid-area: rc;
        width: 100%;
        align-items: start;
    }
    #controlsContainer{
        max-height: 100%;
        margin: 0;
    }
    #reactiveResultsContainer{
        max-height: 90%;
        
    }
}