/* TOTAL LEVEL */
.resultControls{
    grid-area: rc;
    width: 100%;
    height: 100%;
    
}

#controlsRoot{
    display: grid;
    place-items: center;

}
#controlsWrapper{
    display: grid;

    place-items: center;
    width: 80%;
    height: 100%;
}

#controlsRootNoResult{
    
    display: grid;
    place-items: center;

}

#controlsContainer{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    display: grid;
    align-content: space-between ;
    
}

.controlsPoint{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr;
    place-items: center;
}


/* PC LEVEL */


/* MOBILE LEVEL */

@media (max-aspect-ratio: 1/1){
    .resultControls{
        grid-area: rc;
        width: 100%;
        align-self: start;
        height: 100%;
    }
    #controlsContainer{
        max-height: 100%;
        margin: 0;
    }
    
    .controlsPoint{
        height: 90%;
        margin-top: 5px;
    }
    
}