/* TOTAL LEVEL */
#displayRoot{
    display: grid;
    place-items: center;
    grid-area: d;
    height: 100%;
}

#displayContainer{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "inp inp"
                         "gr sl";
    align-items: center;
    justify-items: center;
    width: 85%;
    height: 80%;
  
    max-height: 90%;
}
#minMaxCurContainer{
    display: grid;
    grid-area: inp;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "longShort longShort longShort"
                         "min cur max";
}


#newOrderInstructions{
    display: grid;
    place-items: center;
    text-align: center;
    width: 80%;
    height: 80%;
    

}

#aff{
    width: 100%;
    min-height: 80%;
    border-radius: 7px;
}
#initComment{
    background-color: transparent;
    border-top: 1px solid black;
    font-size: 0.7em;

}

#advContainer{
    height: 100%;
    width: 75%;
    display: grid;
    place-items: center;
}

#inDisPlatforms{
    display: grid;
    place-items: center;
    height: 100%;
    width: 90%;
    padding: 10px 0px;
    max-height: max-content;
}
#inDisInstructions{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 1fr;
    align-items: center;
    width: 90%;
    height: 90%;
}


.longShortBtnHolder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    grid-area: longShort;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

    background-color: #D9D1DB;
    
    
}

/* PC LEVEL */


/* MOBILE LEVEL */

@media (max-aspect-ratio: 1/1){
    #displayRoot{
        width: 100%;
    }
    #displayContainer{
        height: 90%;
    }
    #newOrderInstructions{
        width: 85%;
        height: fit-content;
        margin-bottom: 3%;
    }
}