/* TOTAL LEVEL */
header{
    display: grid;
    place-items: end center;


    grid-area: h;
}


#headerContainer{
    
    text-align: center;
    width: 75%; 
    height: 40%;
    
    display: grid;
    place-items: center;
    
}

/* PC LEVEL */


/* MOBILE LEVEL */

@media (max-aspect-ratio: 1/1){
    header{
        width: 100%;
        height: 10vh;       
    }

    #headerContainer{
        width: 70%;
        height: 75%;
        
    }
}