/* TOTAL LEVEL */
#appHeaderBase{
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%;
    height: fit-content;
    place-self: start center;
    gap: 10px;
}
#headerBlock{
    width: 100%;
}

/* PC LEVEL */


/* MOBILE LEVEL */

@media (max-aspect-ratio: 1/1){
 #appHeaderBase{
    width: 90%;
 }  
}