/* TOTAL LEVEL */
#results{
    display: grid;
    place-items: center;
    width: 100%;
    height: 90%;
    
   
    
}

#reactiveResultsContainer{
    display: grid;
    grid-template-rows: 2fr 1fr;
    place-items: center;
    height: 80%;
    width: 85%;
    
}

#reactiveResults{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 100%;
}

.longShortBtnHolder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    width: 100%;
    padding: 5px;
    
    
}

.openResults, .closeResults{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    place-items: center;
}

.orderData{
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    border-radius: 4px;
    margin: 6px;
    padding: 4px;
    grid-gap: 0px 3px;
}
#openInfo{
    width: 100%;
}
#orderTitle{
    display: grid;
    grid-template-columns: 1fr 4fr;
    place-items: center;
}
#resultsHeader{
    text-align: center;
    font-size: 1em;
    font-weight: bolder;
}

.pnlResults{
    display: grid;
    width: 80%;
    height: 80%;
}
.pnlResults>p{
    text-align: center;
}
.pnlContainer{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 2px solid black;
}
.pnlContainer>*{
    border-right: 2px solid black;
    text-align: center;
    padding: 5px;
}
.totalContainer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: center;
}
.totalContainer>*{
    border-right: 2px solid black;
    padding: 5px
}

.priceHolder{
   
    text-align: center;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2px;
}
.priceHolder > *{
padding: 2px;
}
#liquidation{
    text-align: center;
    width: 100%;
    border-radius: 3px;
    display: grid;
    place-items: center;
    padding: 0px 2px;
    background-color: #ddaaaa}

#btnsHolder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    height: 50%;
    width: 90%;
    grid-gap: 10px;
}




/* PC LEVEL */


/* MOBILE LEVEL */

@media (max-aspect-ratio: 1/1){
    #results{
        width: 100%;
        
        margin-top: 10px;
    }

    #reactiveResults{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        place-items: center;
       
        height: 100%;
        width: 100%;
        margin-bottom: 15px;

    }
    #reactiveResultsContainer{
        
        width: 85%;
        
    }
    
    
}