/*
TBH it is a shittiest piece of CSS in my APP so far
I dont know how to resolve all of this shit for real

It is working somehow, so I will not gonna touch it
Well, one day I'll need to create a new One or to rewrite everything

But for now It is What it is =/

12.12.22 Bepely

*/



/* TOTAL LEVEL */
#resultsCardFloor{
    width: 80%;
}

#resultsFloor{
    display: grid;
    grid-template-areas: "num calc"
                         "price calc";
    width: 100%;
    border-radius: 7px;
    justify-items: center;
    align-items: center;
}

#shareHolder{
    display: grid;
    height: 100%;
    /* was gap */
}
#shareHolder > input{
    border: 2px solid black;
    border-radius: 4px;
    height: 75%;
    width: 100%;
    padding: 10px;
}





.openResults, .closeResults{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
.openResults{
    grid-area: num;
}
.closeResults{
    grid-template-rows: 1fr 2fr;
    grid-area: calc;
}

.orderData{
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    border-radius: 4px;
    margin: 6px;
    padding: 4px;
    /* was grid-gap 0px 3px */
}
#openInfo{
    width: 100%;
}
#orderTitle{
    display: grid;
    grid-template-columns: 1fr 4fr;
    place-items: center;
}
#resultsHeader{
    text-align: center;
    font-size: 1em;
    font-weight: bolder;
}
#layerBaseTPSL{

}
#TPSLbase{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    height: fit-content;

    gap: 1vw;

    justify-items: center;
    align-items: center;
}

#pnlTPSL{
    width: 100%;
    height: fit-content;
}
#pnlTPSLright{
    border-right: 0;
}


.pnlResults{
    display: grid;
    width: 80%;
    height: 80%;
}
.pnlResults>p{
    text-align: center;
}
.pnlContainer{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 2px solid black;
}
.pnlContainer>*{
    border-right: 2px solid black;
    text-align: center;
    padding: 5px;
}
.totalContainer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: center;
}
.totalContainer>*{
    border-right: 2px solid black;
    padding: 5px
}
.TPSLcontainer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: center;
}
.TPSLcontainer>*{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding: 5px
}

.priceHolder{
   
    text-align: center;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2px;
    grid-area: price;
}
.priceHolder > *{
padding: 2px;
}
#liquidation{
    text-align: center;
    width: 100%;
    border-radius: 3px;
    display: grid;
    place-items: center;
    padding: 0px 2px;
    background-color: #ddaaaa}

#btnsHolder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    max-height: 150px;
    width: 100%;
    /* was gap */
}

#hiddenShareButtonsHolder{
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    place-items: center;
    max-height: 150px;
    width: 100%;
    /* was gap */
}

#layerBaseFooterResults{
    gap: 1.5vh;
}


/* PC LEVEL */


/* MOBILE LEVEL */

@media (max-aspect-ratio: 1/1){
    
    #results>*{
        overflow: hidden;
    }
    
    #layerBaseTPSL{
        width: 90%;
    }
    #TPSLbase>*{
        width: 100%;
    }

    #resultsFloor{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr 1fr;
        

        grid-template-areas: "num"
                            "calc"
                            "price";
       
       
        width: 90%;
        padding: 5px 0px;

    }
    #reactiveResultsContainer {
        width: 85%;
        height: auto;
        margin: auto;

    }
    
    
}