/* TOTAL LEVEL */
#results{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    
}

#reactiveResultsContainer{
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    place-items: center;
    height: 80%;
    width: 85%;
    
}

#reactiveResults{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    place-items: center;
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    background-color: #eeeeee;
    box-shadow: 7px 7px rgba(0,0,0,.30);
}

.longShortBtnHolder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    width: 100%;
    padding: 5px;
    
    
}

.openResults, .closeResults{
    width: 100%;
    height: 100%;
}

.orderData{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 4px;
    margin: 6px;
    padding: 4px;
    grid-gap: 0px 3px;
}
#openInfo{
    width: 100%;
}

#resultsHeader{
    text-align: center;
}

.pnlResults{
    display: grid;
}
.pnlResults>p{
    text-align: center;
}

.priceHolder{
    border: 1px solid black;
    border-radius: 3px;
    
    padding: 2px;
    text-align: center;
    width: 100%;
}
#liquidation{
    text-align: center;
    width: 100%;
    border-radius: 3px;
    display: grid;
    place-items: center;
    padding: 0px 2px;
    background-color: #ddaaaa}

#comment{
    
    text-align: center;
    width: 50%;
    height: 100%;
    
    border: 2px solid black;
    border-radius: 5px;
    
    background-color: #eeeeee;
    box-shadow: 7px 7px rgba(0,0,0,.30);
    display: grid;
    place-items: center;
    
}




/* PC LEVEL */


/* MOBILE LEVEL */

@media (max-aspect-ratio: 1/1){
    #results{
        width: 100vw;
        height: 100%;
    }

    #reactiveResults{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
        place-items: center;
        border: 2px solid black;
        padding: 20px;
        border-radius: 5px;
        width: 100%;

    }
    #reactiveResultsContainer{
        display: grid;
        grid-template-rows: 1fr 8fr 1fr;
        place-items: center;
        height: 80%;
        width: 85%;
        
    }
    
    
}