#sessionFloor{
    height: 66%;
    width: 80%;
    cursor: cell;
}

#sessionFloor>*{
    letter-spacing: 0.5vw;
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
#contorlsButtionBase{
    height: auto;
    margin: auto;
    width: 80%;
}


@media (max-aspect-ratio: 1/1){
    #sessionFloor{
        display: none;
    }
}