*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

    transition: all .4s ease;
}

#root{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas:"d h"
                        "d rc"
                        "d rc";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr;

    background-color: #ffffcc;
}





@media (max-aspect-ratio: 1/1) {
    #root{
        grid-template-areas:"h"
        "d"
        "rc";
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 7fr 7fr;
    }
}