/*  
    Major CSS file do styling for major app Components
    such as Blocks, Root etc. 
    
    At the top goes main configs for both PC and Mobile view
    Then goes Mobile
    Then goes PC

    Through all CSS files will be comments for a clarity

    */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

/* start of the APP level */
#root{
    display: grid;
    width: 100vw;
    height: 100vh;
}


/* end of the APP level */

/*Start of the header part*/
header{
    display: grid;
    place-items: center;

    background-color: lightgray;
}

#navContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 100%;
    height: 100%;
}
/*End of the header part*/

/*Start of the Display part*/
#displayRoot{
    

    
    display: grid;
    place-items: center;
}

#displayContainer{
    border-radius: 3px;
    background-color: #eeeeee;

    display: grid;
    grid-template-columns: 3fr 1fr;
    place-items: center;
}

#graphContainer{
    background-color: #dddddd;
    width: 90%;
    height: 90%;
    
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 5fr 1fr 2fr;
}

#graph{
    width: 90%;
    height: 90%;
    background-color: #cccccc;
}

.sliderControlContainer{
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
}
.sliderContainer{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
.priceSlider{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    background: #bbbbbb;
    width: 8px;
    height: 85%;


}
.priceSlider::-webkit-slider-thumb {
background: #bbbbbb;
}



/*End of the Display part*/

/*Start of the Controls part*/

#controlsRoot{
    display: grid;
    place-items: center;
    
    
}


/*End of the Controls part*/

@media (max-width:1024px) {

    /* start of the APP level */



    /* end of the APP level */


    /*Start of the Header part */
    header{
        width: 100vw;
        height: 10vh;

        grid-template-rows: 2fr 1fr;
       
    }



    /*End of the Header part*/

    /*Start of the Display part*/

    #displayRoot{
        width: 100vw;
        height: 50vh;
    }

    #displayContainer{
        width: 90%;
        height: 80%;
    }

    /*End of the Display part*/

    /*Start of the Controls part*/
    #controlsRoot{
        width: 100vw;
        height: 40vh;
    }

    /*End of the Controls part*/



}