

.minMax{
    display: grid;
    width: 80%;
    height: 100%;

    grid-template-rows: 1fr 1fr;
    place-items: center;
}

.minMax>input{
    width: 100%;
    border-radius: 5px;
    text-align: center;
}




#currentPriceContainer{
    display: grid;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    place-items: center;
}

#reactiveResultsContainer{
    display: grid;
    place-items: center;

    width: 75%;
    height: 75%;
}
#reactiveResults{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    place-items: center;
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;
}


.longShortBtnHolder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    width: 100%;
}

.openResults, .closeResults{
    width: 100%;
    height: 100%;
}

#resultsHeader{
    text-align: center;
}

.pnlResults{
    display: grid;
}
.pnlResults>p{
    text-align: center;
}



.priceHolder{
    border: 1px solid black;
    border-radius: 3px;
    
    padding: 2px;
    text-align: center;
    width: 100%;
}