a.button {
    background-color: blue;
    color: #fff;
   }
   
   .hover_container {
    position: relative;
   }
   
   .hover_container .container {
    display: none;
    border: 1px solid #000;
    float: left;
    position: absolute;
    left: 0;
    top: -90px;
   }
   
   .hover_container:hover .container {
    display: block;
   }