/*
  Home Page is kinda shit, because of it falls of an app css. It works, kinda. 
  I dont want to toch it, until I'll know exactly what I want to do with it. 
  For now, I'l just Make It kinda sustainable. 

  12.12.22 Bepely
*/



*{
    margin: 0;
    padding: 0;

    text-align: center;
    transition: all .2s ease;

    
}

.pointHolder a {
    border-bottom: 4px dotted black;
    animation-duration: 0ms;
}
.pointHolder a:hover{
    border-bottom: 8px dotted black;
    
}

#homeHeaderBase{
    width: 80%;
    height: fit-content;
    place-self: center center;
    display: grid;
    grid-template-columns: 1fr;
}

#homeHeaderLogo{
    width: 3vw;
    height: 3vw;

    border-radius: 7px;
}
#homeHeaderButtonToApp{
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 50px;
    border: 2px solid black;
}

.homePointArticle{
    display: flex;  
    text-align: center;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    height: 100%;
    flex-direction: row;
    padding: 10px;
}
.homePointArticle > div{
    display: grid;
    place-items: center;
}
.homePoint{
    width: 100%;
    height: 100%;
    grid-area: block;
}
#headerHome{
    width: 80%;
    display: table;
    margin: auto;
}
#headerHome>header{
    display: grid;
    place-items: center;
}

#useApp{
    display: grid;
    place-items: center;
    border: 2px solid black;

    width: 50%;
    height: 100%;
    font-size: 1.5em;

    border-radius: 7px;
    transition: all .6s ease;

    place-self: end;
}
#useApp:hover{
    border: 2px solid #f2a900;
    box-shadow: 0px 0px 5px 5px #f2a900;
}


.leftPoint{
 grid-template-areas: "block media";
 grid-template-columns: 3fr 1fr;
}
.rightPoint{
    grid-template-areas:  "media block";
    grid-template-columns: 1fr 3fr;
}


.pointHolder{
    width: 80%;
    height: 80%;
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 2vh;    
}

#justEmoji{
    font-size: 3em;
}


#mediaWrapper{
    width: 100%;
    height: 100%;
}

footer{
    width: 100%;
    text-align: center;
}

#socials{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}

#homePointImage{grid-area: media; display: grid; place-items: center; width: 100%; height: 100%;}

#homePointHeader{display: grid; justify-items: center; align-items: center}

#homePointText{display: grid; justify-items: center; align-items: center}





#logoHeaderMOB{
    display: none;
}
#logoHeaderPC{
    display: grid;
}

#homeHeaderLogoText{
    place-self: auto start;
    padding-left: 10vw; 
}




@media (max-aspect-ratio: 1/1) {
    
    #logoHeaderMOB{
        display: grid;
    }
    #logoHeaderPC{
        display: none;
    }
    #homeHeaderLogo{
        width: 5vh;
        height: 5vh;
        min-height: 32px;
        min-width: 32px;
    }

    .pointHolder{
        width: 90%;
    }

    .homePointArticle{
        flex-direction: column;
       }

       #homePointImage, #justEmoji{display: none;}
       .leftPoint, .rightPoint{
           grid-template-areas:  "block";
           grid-template-columns: 1fr;
           height: 90%;
       }

       #useApp{
        display: grid;
        place-items: center;
        border: 2px solid black;
    
        width: 80%;
        height: 80%;
        font-size: 1em;
    
        border-radius: 7px;
        transition: all .2s ease;
    }
    #useApp:hover{
        font-size: 1.2em;
        width: 80%;
        height: 80%;
    }
}