

.greenButton{
    width: 100%;
    border: 2px solid black;
}
.greenButton:disabled{
    background: rgba(0, 255, 0, 0.3);
    border: 2px solid rgb(0, 155, 0);
    color: black;
}

.redButton{
    border: 2px solid black;
    width: 100%;
}
.redButton:disabled{
    background-color: rgba(255, 0, 0, 0.3);
    border: 2px solid rgba(155, 0, 0) ;
    color: black;
}


.defButton{
    border: 2px solid black;
    height: 100%;
}
.defButton:hover{
    font-weight: bold;
    font-size: 0.9em;
    margin: 2px;
    
}

