.greenButton:disabled{
    background: rgba(0, 255, 0, 0.3);
    border: 2px solid rgb(0, 155, 0);
    color: black;
    
}

 .redButton, .greenButton{
    border: 2px solid black;
    border-radius: 7px;
    
}
.redButton:disabled{
    background-color: rgba(255, 0, 0, 0.3);
    border: 2px solid rgba(155, 0, 0) ;
    color: black;
}


    .greenButton,
    .greenButton:disabled,
    .redButton,
    .redButton:disabled{
        margin: 10px 0px;
        border-radius: 7px;
        border: 2px solid black;
        background-color: #f8f8f8;
        min-width: 100px;
        width: 100%;
        min-height: 25px;
    }
    
    .redButton:disabled{
        background-color: #cf5656; 
        box-shadow: none;     
        font-weight: bold;
  
    }
    .greenButton:disabled{
        background-color: #64c564;
        box-shadow: none;
        
        font-weight: bold;
        
    }
    




.crButton{
    padding: 10px 2px;
    border-radius: 5px;
    border: 1px solid black;
}


.defButton{
    display: grid;
    border: 2px solid black;
    height: 100%;
    width: 100%;
    place-content: center;
}

/* CONTROLS BUTTONS */


#controlsOptionsHolder{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.controlsOptionBtn{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-top: 0;
    border-bottom: 0;
    border-radius: 0;
    background-color: #ECE9EC;
    padding-bottom: 2px;
}
.controlsOptionBtn:first-child{
    border-left: 0;
    border-bottom-left-radius: 5px;
}
.controlsOptionBtn:last-child{
    border-right: 0;
    border-bottom-right-radius: 5px;
}

.pickedControlsOptionBtn{
    box-shadow: 0px -2px 2px 0px #f2a900;

}




@media (max-aspect-ratio: 1/1){

    .greenButton,
    .greenButton:disabled,
    .redButton,
    .redButton:disabled{
        min-height: 17px;
        margin: -2px 0px 2px 0px;
        width: 30vw;
        border-radius: 0px 0px 7px 7px;
        border: 2px solid black;
        border-top: 0;
        
    }

    .redButton:disabled{
        background-color: #cf5656;
        box-shadow: 0px -3px 8px #cf5656;
  
    }
    .greenButton:disabled{
        background-color: #64c564;
        box-shadow: 0px -3px 8px  #64c564;
        
    }
    

    

}