.greenButton{
    width: 75%;
    min-height: 17px;
    height: 65%;
    border: 2px solid black;
    border-radius: 7px;
}
.greenButton:disabled{
    background: rgba(0, 255, 0, 0.3);
    border: 2px solid rgb(0, 155, 0);
    color: black;
}

.redButton{
    border: 2px solid black;
    width: 75%;
    min-height: 17px;
    height: 65%;
    border-radius: 7px;
}
.redButton:disabled{
    background-color: rgba(255, 0, 0, 0.3);
    border: 2px solid rgba(155, 0, 0) ;
    color: black;
}


.crButton{
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid black;
}


.defButton{
    display: grid;
    border: 2px solid black;
    height: 75%;
    width: 100%;
    place-content: center;
}
.defButton:hover{
    font-weight: bold;
    
}

/* CONTROLS BUTTONS */


#leverageHolder, #amountHolder, #currencyHolder{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    align-self: end;
    margin: 0;
    padding: 0;
}
#currencyHolder{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.leverageBtn, .amountBtn, .currencyBtn{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-top: 0;
    border-bottom: 0;
    border-radius: 0;
    background-color: #ECE9EC;
    padding-bottom: 2px;
}
#lvr1, #amt10, #btcBtn{
    border-left: 0;
    border-bottom-left-radius: 5px;
}
#lvr50, #amt500, #xrpBtn{
    border-right: 0;
    border-bottom-right-radius: 5px;
}

.pickedLeverageBtn, .pickedAmountBtn, .pickedCurrencyBtn{
    box-shadow: 0px -2px 2px 0px #f2a900;

}


@media (max-aspect-ratio: 1/1){

    .greenButton,
    .greenButton:disabled,
    .redButton,
    .redButton:disabled{
        margin: -2px 0px 2px 0px;
       
        border-radius: 0px 0px 7px 7px;
        border: 2px solid black;
        border-top: 0;
    }

    .redButton:disabled{
        background-color: #cf5656;
        box-shadow: 0px -3px 8px #cf5656;
  
    }
    .greenButton:disabled{
        background-color: #64c564;
        box-shadow: 0px -3px 8px  #64c564;
        
    }
    .greenButton,
    .redButton{
    background-color: #ECE9EC;
    }
    

}