/* TOTAL LEVEL */
#graphContainer{
    
    width: 90%;
    height: 80%;
    
    display: grid;
    place-items: center;
}

#graph{
    
    height: 100%; 
}


/* PC LEVEL */


/* MOBILE LEVEL */

@media (max-aspect-ratio: 1/1){
    

}