/* TOTAL LEVEL */
#graphContainer{
    
    width: 100%;
    height: 100%;
    
    display: grid;
   align-items: center;
    justify-items: center;

    grid-area: gr;
}
#graphContainer > *{
    
    transition: none;

}

#graph{
    width: 90%;
    height: 80%; 
}


/* PC LEVEL */


/* MOBILE LEVEL */

@media (max-aspect-ratio: 1/1){
    

}