.pairHolder{
    width: 100%;
    margin: 5px;
}

.pair{
    display: grid;
    place-items: center;

    grid-template-columns: 1fr 1fr;
    margin: 5px;
    

    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    color: black;
    transition: all .4s ease;

   
}

.pair:hover, .pair:focus > .pairSecond{
    font-weight:bolder;
    padding: 10px;
    margin: 5px;
    
}

.pairChild{
    text-align: center;
}

.pairFirst{
    
    width: 100%;
}

.pairSecond{
    border: 1px solid black;
    width: 100%;
    border-radius: 3px;
    padding: 2px;
    
}