.pairHolder{
    width: 100%;
    height: 100%;
}

.pair{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;

    grid-template-columns: 1fr 1fr;
    

    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    color: black;
    transition: all .4s ease;

   
}

.pair:hover > .pairSecond, .pair:hover > .pairFirst{
    font-weight:bolder;
    
}

.pairChild{
    text-align: center;
}

.pairFirst{
    
    width: 100%;
}

.pairSecond{
    border: 0px;
    border-left: 2px solid black;
    width: 70%;
    height: 50%;
    border-radius: 0px;
    padding: 0px;
    border-right: 0px;
    background-color: #F5F5F5;
    justify-self: end;
    
}

.pairSecond::-webkit-outer-spin-button,
.pairSecond::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.pairSecond[type=number] {
  -moz-appearance: textfield;
}
