.grey1BG{
background-color: #f5f5f5;
}
.grey2BG{
    background-color: #ece9ec;
}


.HredBG{
    background-color: #cf5656b9;
    z-index: 0;
}
.HredBG:hover{
    background-color: #cf5656;
}

.HyellowBG{
    background-color: #c5bd64b9;
}
.HyellowBG:hover{
    background-color: #c5bd64;
}

.HgreenBG{
    background-color: #64c564b9;
}
.HgreenBG:hover{
    background-color: #64c564
}