#blockField{
width: 100%;
min-height: 2vh;
max-height: 5vh;

}
#blockField>*{

    border: none;
    background-color: transparent;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 2px solid black;

    border-radius: 4px;
}


#blockButton2{grid-template-columns: 1fr 1fr}
#blockButton3{grid-template-columns: 1fr 1fr 1fr}

#blockButton2, #blockButton3{
width: 100%;
background-color: transparent;
cursor:pointer;
place-self: end center;
gap: 10px;


}
#blockButton2>*, #blockButton3>*{
    display: grid;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 2vh;
    max-height: 5vh;
    border: 2px solid black;
    border-radius: 4px;
    background-color: #ece9ec;
    padding: 3px 5px;
    font-size: 1vmax;
}
#blockButton2>*:hover, #blockButton3>*:hover{
    background-color: #f5f5f5;
}

.blockCard{
    width: 100%;
    height: 100%;
    box-shadow: 6px 6px #937d9944;
    
    
    background-color: #f5f5f5;;
}

.blockCardNoShadow{
   
    height: 100%;
    width: 100%;
    box-shadow: none;
}

.blockCard:hover, .blockCard:focus{
    box-shadow: 7px 7px #937d99aa;
}

.paddingContent{
    padding: 20px 10px;
}




#interfaceBase{
    grid-template-columns: auto;
    height: 80%;
    width: 80%;
    grid-area: interfaceBase;
    
    gap: 1.5vh;
}
#displayBase{
    height: 80%;
    width: 80%;
    grid-area: displayBase;
}

@media (max-aspect-ratio: 1/1){
    #interfaceBase{
        height: 100%;
        width: 100%;
    }

    #blockButton2, #blockButton3{
        width: 90%;
    }
    #blockField{
        width: 90%;
    }
    #blockField>*{
        max-height: 4.5vw;
    }
    
    #blockButton2>*, #blockButton3>*{
        font-size: 1.6vmax;
    }
    }


