.soloCenter{
    display: grid;
    align-content: stretch;
    align-items: center;
    justify-items: center;
    
    
}

.multiHor{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    align-content: stretch;
    align-items: center;
    justify-items: center;
}

.multiVer{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-content: stretch;
    align-items: center;
    justify-items: center;
}


#displayNone{
    display: none;
}

.toBot{
    align-items: end
}
.toCenter{
    align-items: center;
}
.toTop{
    align-items: start;
}

.selfCenter{
    place-self: center center;
}
.selfTop{
    place-self: start center;
}
.selfBot{
    place-self: end center;  
}